<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 로그 저장 위치 정의 -->
	<targets>
		<!-- 콘솔 출력 -->
		<target name="console" xsi:type="Console" />

		<!-- 파일 저장: logs/2024-05-17.log 형식으로 저장 -->
		<target name="file" xsi:type="File"
				fileName="logs/${shortdate}.log"
				layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=ToString}"
				encoding="utf-8"
				concurrentWrites="true"
				keepFileOpen="false"
				archiveEvery="Day"
				maxArchiveFiles="7" />
	</targets>

	<!-- 어떤 로그를 어디로 보낼지 규칙 정의 -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="console,file" />
	</rules>

</nlog>
